.conocenos__container {
   padding: 0;
   max-width: 70%;
   margin: auto;
}

.conocenos__container img {
    height: 100%;
}

.banner_color {
    background: rgb(40,144,33);
background: radial-gradient(circle, rgba(40,144,33,1) 0%, rgba(108,195,99,1) 88%, rgba(160,233,148,1) 100%);
}

.texto_color {
    color: #2c9325;
}