.title_header{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 70px;
  }

.conocenos__container {
   padding: 0;
   max-width: 70%;
   margin: auto;
}

.conocenos__container img {
    height: 100%;
}

.banner_color {
 
background: radial-gradient(circle, rgb(56, 111, 148) 0%, rgb(54, 121, 148) 88%, rgb(21, 104, 143) 100%);
}

.texto_color {
    color: #2f92e4;
}